apiVersion: apps/v1
kind: Deployment
metadata:
  name: custom-exporter-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: custom-exporter
  template:
    metadata:
      labels:
        app: custom-exporter
    spec:
      serviceAccountName: exporter-service-account
      containers:
      - name: custom-exporter
        image: custom-exporter:4
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 2112
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-secret
              key: redis-password
---
apiVersion: v1
kind: Service
metadata:
  name: custom-exporter-service
spec:
  type: NodePort
  ports:
    - port: 2112
      targetPort: 2112
      nodePort: 30001
  selector:
    app: custom-exporter
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: exporter-service-account
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: exporter-cluster-role
rules:
- apiGroups: [""]
  resources:
  - pods
  - nodes
  - events
  verbs: ["get", "list", "watch"]
- apiGroups: ["metrics.k8s.io"]
  resources:
  - pods
  - nodes
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: exporter-cluster-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: exporter-cluster-role
subjects:
- kind: ServiceAccount
  name: exporter-service-account
  namespace: default
